* {
  box-sizing: border-box;
}

body {
  background: #bbb;
}

.container {
  background: #efe;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

.container > div {
  border: 2px solid red;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header ul {
  display: flex;
  gap: 8px;
}

.product {
  border: 2px solid cyan;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.product img {
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
