@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #bbb;
  font-family: "PT Sans", sans-serif;
}

.cart-product-image {
  width: 64px;
}

.container {
  display: grid;
  grid-template-rows: 64px 1fr 100px;
  margin: auto;
  max-width: 1000px;
  min-height: 100vh;
}

.header {
  align-items: center;
  background: #413543;
  color: #f0eb8d;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 8px;
  position: sticky;
  top: 0;
}

.header a {
  color: #ebe8ac;
  text-decoration: none;
}

.header a.active {
  font-weight: bold;
  text-decoration: underline;
}

.header h1 {
  font-size: 1.6rem;
  font-weight: bold;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.product {
  border: 2px solid cyan;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.product img {
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
}
